# Raw data - large files, don't upload to GitHub
*.csv
# Model files - large files in generale, don't upload to GitHub
*.pkl
# Jupyter checkpoint files
.ipynb_checkpoints/
# vscode settings
.vscode/
# Python cache
__pycache__/
*.pyc